<h1>
  <span *ngIf="spinner"><i class="fas fa-spinner fa-spin"></i></span>
  <span *ngIf="!spinner">My Orders</span>
</h1>
<hr>
<table class="table">
  <thead>
  <tr>
    <th>Book Title</th>
    <th>Ordered By</th>
    <th>Initial Date</th>
    <th>Delivery Date</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders">
    <td>{{order.bookTitle}}</td>
    <td>{{order.customerName}}</td>
    <td>{{order.initialDate}}</td>
    <td>{{order.deliveryDate}}</td>
  </tr>
  </tbody>
</table>
