<div class="books-spinner">
  <span *ngIf="spinner"><i class="fas fa-spinner fa-spin"></i></span>
  <!--<span *ngIf="!spinner">Books</span>-->
</div>
<hr>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let book of books">
    <div class="card card-book">
      <div class="card-body">
        <h4>{{book.title}}</h4>
        <p>Genre: {{book.genre}}</p>
        <p>Author: {{book.author}}</p>
        <p>Publisher: {{book.publisher}}</p>
        <button (click)="orderBook(book._id, book.title)" class="btn btn-primary btn-block">Order</button>
      </div>
    </div>
  </div>
</div>
