<div class="row">
  <div class="col-sm-12 col-md-6 offset-md-6 col-lg-4 offset-lg-4">
    <div class="card">
      <div class="card-header">Create new book</div>
      <div class="card-body">
        <form (ngSubmit)="createBook()">
          <div class="form-group">
            <input type="text" name="email" [(ngModel)]="title" class="form-control" placeholder="title">
          </div>
          <div class="form-group">
            <input type="text" name="text" [(ngModel)]="genre" class="form-control" placeholder="genre">
          </div>
          <div class="form-group">
            <input type="text" name="email" [(ngModel)]="author" class="form-control" placeholder="author">
          </div>
          <div class="form-group">
            <input type="text" name="text" [(ngModel)]="publisher" class="form-control" placeholder="publisher">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              <span *ngIf="spinner" class="fas fa-spinner fa-spin"></span>
              <span *ngIf="!spinner">Create</span>
            </button>
          </div>
          <div class="form-group" *ngIf="error">
            <p class="text-danger text-center">{{error}}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
