<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">BookStore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="isAuthenticated" class="nav-item">
          <a class="nav-link" routerLink="/orders">Orders</a>
        </li>
        <li *ngIf="isAuthenticated && role === 'admin'" class="nav-item">
          <a class="nav-link" routerLink="/create-book">Create book</a>
        </li>
        <li *ngIf="isAuthenticated" class="nav-item">
          <a class="nav-link" routerLink="/logout">Logout</a>
        </li>
        <li *ngIf="!isAuthenticated" class="nav-item">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
