<div class="row">
  <div class="col-sm-12 col-md-6 offset-md-6 col-lg-4 offset-lg-4">
    <div class="card">
      <div class="card-header">Signup</div>
      <div class="card-body">
        <form (ngSubmit)="signup()">
          <div class="form-group">
            <input type="text" name="name" [(ngModel)]="name" class="form-control" placeholder="name">
          </div>
          <div class="form-group">
            <input type="number" name="age" [(ngModel)]="age" class="form-control" placeholder="age">
          </div>
          <div class="form-group">
            <input type="text" name="address" [(ngModel)]="address" class="form-control" placeholder="address">
          </div>
          <div class="form-group">
            <input type="text" name="email" [(ngModel)]="email" class="form-control" placeholder="email">
          </div>
          <div class="form-group">
            <input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="password">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              <span *ngIf="spinner" class="fas fa-spinner fa-spin"></span>
              <span *ngIf="!spinner">Signup</span>
            </button>
          </div>
          <div class="form-group">
            <a routerLink="/login" class="btn btn-block">Login</a>
          </div>
          <div class="form-group" *ngIf="error">
            <p class="text-danger text-center">{{error}}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
